In [7]:
import pandas as pd
import funciones
import conexion_bd

Traemos los conjuntos de datos

Internet a nivel nacional

In [8]:
# nacional
df_ingresos_op_inter_naci = pd.read_parquet("../Data/Internet/Nacional/ingresos_operacion_internet.parquet")
df_acceso_inter_naci = pd.read_parquet("../Data/Internet/Nacional/nacional_acces_inter.parquet")

# provincia
df_acceso_provin = pd.read_parquet("../Data/Internet/Provincia/acces_provin_bandas.parquet")
df_acces_tech_provin = pd.read_parquet("../Data/Internet/Provincia/acces_tec_provin.parquet")
df_vel_media_baj = pd.read_parquet("../Data/Internet/Provincia/velo_medi_bajada.parquet")

Visualizamos el conjunto de ingresos por concepto de operacionoes a nivel nacional

In [9]:
# Visualizamos 
df_ingresos_op_inter_naci.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

Verificamos si hay datos nulos y tipo de datos

In [10]:
funciones.verificar_datos(df_ingresos_op_inter_naci)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Ingresos (miles de pesos),[<class 'int'>],0,0.0,100.0
3,Periodo,[<class 'str'>],0,0.0,100.0

Podemos observar que el conjunto no posee datos nulos, y esta conformado por cuatro columnas (Año, Trimestre, Ingresos, Peridodo), las cuales tres son de tipo entero ecepto periodo que es de tipo objet

Creamos una columna id, la que nos permitira crear relaciones en bases de datos, asi como tambien acceso a datos especificos

In [11]:
# Creamos columna ingreso_id y toma los valores del indice
df_ingresos_op_inter_naci["ingesos_id"] = df_ingresos_op_inter_naci.index

In [12]:
# Oserva,os el dataset
df_ingresos_op_inter_naci.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo  ingesos_id
0  2022          4                         72   Oct-Dic 2022           0
1  2022          3                         64  Jul-Sept 2022           1
2  2022          2                         60   Abr-Jun 2022           2
3  2022          1                         55   Ene-Mar 2022           3
4  2021          4                         45   Oct-Dic 2021           4

Cargamos el dataset en nuestra base de datos llamada Telecomunicaciones

In [13]:
# carga del dataset en la base dedatos con motor mysql
df_ingresos_op_inter_naci.to_sql("Ingreso_internet_nacional", con=conexion_bd.engine, index=False, if_exists="append")

C:\Users\Dell\AppData\Local\Temp\ipykernel_11776\1314571861.py:2: UserWarning: The provided table name 'Ingreso_internet_nacional' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_ingresos_op_inter_naci.to_sql("Ingreso_internet_nacional", con=conexion_bd.engine, index=False, if_exists="append")

36

Ahora visualizaremos el conjunto de acceso a internet a nivel nacional

In [25]:
# abrimos el conjunto de datos
df_acceso_inter_naci.head()

,Año,Trimestre,Banda ancha fija,Dial up,Total,Periodo,Acceso_nac_id
0,2022,4,11,12,11,Oct-Dic 2022,0
1,2022,3,11,12,11,Jul-Sept 2022,1
2,2022,2,11,12,11,Abr-Jun 2022,2
3,2022,1,11,13,11,Ene-Mar 2022,3
4,2021,4,10,13,10,Oct-Dic 2021,4

Podemos observar que posee informacion sobre los accesos por año y trimestre, ademas da informacion sobre la cantidad de acceso a travez de banda ancha y a travvez de servicios de analogicos de con moden

Verificamos los datos nulos y el tipo de datos por columna

In [15]:
funciones.verificar_datos(df_acceso_inter_naci)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Banda ancha fija,[<class 'int'>],0,0.0,100.0
3,Dial up,[<class 'int'>],0,0.0,100.0
4,Total,[<class 'int'>],0,0.0,100.0
5,Periodo,[<class 'str'>],0,0.0,100.0

Obtenemos un dataset sin valores nulos y con una unica columna de tipo object que es el periodo, de igual manera procedemos a crear un id para convertirlo en tabla de la base de datos

In [16]:
df_acceso_inter_naci["Acceso_nac_id"] = df_acceso_inter_naci.index

In [17]:
# Obsevamos
df_acceso_inter_naci.head()

,Año,Trimestre,Banda ancha fija,Dial up,Total,Periodo,Acceso_nac_id
0,2022,4,11,12,11,Oct-Dic 2022,0
1,2022,3,11,12,11,Jul-Sept 2022,1
2,2022,2,11,12,11,Abr-Jun 2022,2
3,2022,1,11,13,11,Ene-Mar 2022,3
4,2021,4,10,13,10,Oct-Dic 2021,4

Cargamos el dataframe como tabla a nuestra base de datos

In [18]:
df_acceso_inter_naci.to_sql("Acceso_inter_nacional", con=conexion_bd.engine, index=False, if_exists="append")

C:\Users\Dell\AppData\Local\Temp\ipykernel_11776\808370982.py:1: UserWarning: The provided table name 'Acceso_inter_nacional' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_acceso_inter_naci.to_sql("Acceso_inter_nacional", con=conexion_bd.engine, index=False, if_exists="append")

36

Internet por provincias

Abrimos el dataframe que resume el acceso a internet por provicias

In [19]:
# abrimos el dataset
df_acceso_provin

      Año  Trimestre            Provincia  Banda ancha fija  Dial up  Total
0    2022          4         Buenos Aires                 5      6.0      5
1    2022          4      Capital Federal                 2      2.0      2
2    2022          4            Catamarca                71      1.0     71
3    2022          4                Chaco               144      5.0    144
4    2022          4               Chubut               168    904.0    169
..    ...        ...                  ...               ...      ...    ...
859  2014          1           Santa Cruz                26    460.0     27
860  2014          1             Santa Fe               506    612.0    507
861  2014          1  Santiago Del Estero                37      9.0     37
862  2014          1     Tierra Del Fuego                27    766.0     28
863  2014          1              Tucumán               130     88.0    130

[864 rows x 6 columns]

Observamos un dataset con mas filas que el que nos proporcinan a nivel nacional y nos proporcina informacion de la cantidad de accesos de internet mediante conexion Dial-up por prrovincias, dividido en años y trimiestre

Verificamos si posee datos nulos, y los tipos de datos por columna

In [20]:
funciones.verificar_datos(df_acceso_provin)

Advertencia: la columna Dial up, tiene valores nulos

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.00,100.00
1,Trimestre,[<class 'int'>],0,0.00,100.00
2,Provincia,[<class 'str'>],0,0.00,100.00
3,Banda ancha fija,[<class 'int'>],0,0.00,100.00
4,Dial up,[<class 'float'>],2,0.23,99.77
5,Total,[<class 'int'>],0,0.00,100.00

Observamos que la columna Dialup posee dos datos nulos, los cuales representan un 0.23% de los datos

Observamos datos duplicados

In [21]:
df_acceso_provin.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
859    False
860    False
861    False
862    False
863    False
Length: 864, dtype: bool

No existen datos duplicaos en este dataset

Convertimos la columna Dial up en int, ya que esta columna nos muestra la cantidad de hogares que utilizan Internet de acceso telefónico en cada provincia.

In [22]:
df_acceso_provin["Dial up"] = df_acceso_provin["Dial up"].astype("Int64")

In [23]:
# Obtenemos los datos nulos
nulos_acceso_provin = df_acceso_provin["Dial up"].isnull()
nulldialup = df_acceso_provin.loc[nulos_acceso_provin]
nulldialup

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
440  2018          2   Formosa                45     <NA>     45
445  2018          2  Misiones               106     <NA>    106

Agredamos el id de esta columna

In [29]:
# Agreamos columna id
df_acceso_provin["Acceso_pro_id"] = df_acceso_provin.index

Ahora procedemos a completar los dos valores nulos que posee el dataset, utilizando el promedio anual de los accesos a internet, ya que la variable Dial up es numerica continua, ademas que los datos son relativamente homogéneos, es decir, las provincias tienen valores similares para la banda ancha fija y el dial up.

In [46]:
# Agrupamos los datos a nivel nacional por año
df_grouped = df_acceso_inter_naci.groupby("Año")

In [47]:
# Calculamos el promedio dial up para cada año
df_grouped["Dial up"].mean()

Año
2014    36.75
2015    34.25
2016    30.75
2017    28.25
2018    25.75
2019    19.00
2020    10.00
2021    10.75
2022    12.25
Name: Dial up, dtype: float64

In [48]:
# Obtengo el valor del promedio
prom_dial_up = df_grouped["Dial up"].mean()[2018]
prom_dial_up

25.75

In [50]:
resul = int(prom_dial_up)

In [51]:
# Reemplazamos los valores nulos
df_acceso_provin.fillna(resul, inplace= True)

In [52]:
funciones.verificar_datos(df_acceso_provin)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Provincia,[<class 'str'>],0,0.0,100.0
3,Banda ancha fija,[<class 'int'>],0,0.0,100.0
4,Dial up,[<class 'int'>],0,0.0,100.0
5,Total,[<class 'int'>],0,0.0,100.0
6,Acceso_pro_id,[<class 'int'>],0,0.0,100.0

Podemos observar que los datos han sido reemplazados y ya podemos añadir el datasset a nuestra base de datos

Guardamos el dataset limpio

In [53]:
df_acceso_provin.to_parquet("../Data/Internet/Provincia/acces_provin_bandas_limpio.parquet")

Luego lo cargamos en unestra base de datos

In [54]:
df_acceso_provin.to_sql("acceso_inter_provincia", con=conexion_bd.engine, index=False, if_exists="append")

864