In [1]:
import pandas as pd
import funciones
import conexion_bd

Traemos los conjuntos de datos

Internet a nivel nacional

In [41]:
# nacional
df_ingresos_op_inter_naci = pd.read_parquet("../Data/Internet/Nacional/ingresos_operacion_internet.parquet")
df_acceso_inter_naci = pd.read_parquet("../Data/Internet/Nacional/nacional_acces_inter.parquet")

# provincia
df_acceso_provin = pd.read_parquet("../Data/Internet/Provincia/acces_provin_bandas.parquet")
df_acces_tech_provin = pd.read_parquet("../Data/Internet/Provincia/acces_tec_provin.parquet")
df_vel_media_baj = pd.read_parquet("../Data/Internet/Provincia/velo_medi_bajada.parquet")

# Localidad
df_acceso_internet_localidad = pd.read_parquet("../Data/Internet/Localidad/acceso_localidad.parquet")
df_acceso_tech_localidad = pd.read_parquet("../Data/Internet/Localidad/acceso_tecno_localidad.parquet")
df_localidades_conex_internet = pd.read_parquet("../Data/Internet/Localidad/localidades_conexion_internet.parquet")

Visualizamos el conjunto de ingresos por concepto de operacionoes a nivel nacional

In [3]:
# Visualizamos 
df_ingresos_op_inter_naci.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

Verificamos si hay datos nulos y tipo de datos

In [4]:
funciones.verificar_datos(df_ingresos_op_inter_naci)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Ingresos (miles de pesos),[<class 'int'>],0,0.0,100.0
3,Periodo,[<class 'str'>],0,0.0,100.0

Podemos observar que el conjunto no posee datos nulos, y esta conformado por cuatro columnas (Año, Trimestre, Ingresos, Peridodo), las cuales tres son de tipo entero ecepto periodo que es de tipo objet

Creamos una columna id, la que nos permitira crear relaciones en bases de datos, asi como tambien acceso a datos especificos

In [5]:
# Creamos columna ingreso_id y toma los valores del indice
df_ingresos_op_inter_naci["ingesos_id"] = df_ingresos_op_inter_naci.index

In [6]:
# Oserva,os el dataset
df_ingresos_op_inter_naci.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo  ingesos_id
0  2022          4                         72   Oct-Dic 2022           0
1  2022          3                         64  Jul-Sept 2022           1
2  2022          2                         60   Abr-Jun 2022           2
3  2022          1                         55   Ene-Mar 2022           3
4  2021          4                         45   Oct-Dic 2021           4

Cargamos el dataset en nuestra base de datos llamada Telecomunicaciones

In [13]:
# carga del dataset en la base dedatos con motor mysql
df_ingresos_op_inter_naci.to_sql("Ingreso_internet_nacional", con=conexion_bd.engine, index=False, if_exists="append")

C:\Users\Dell\AppData\Local\Temp\ipykernel_11776\1314571861.py:2: UserWarning: The provided table name 'Ingreso_internet_nacional' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_ingresos_op_inter_naci.to_sql("Ingreso_internet_nacional", con=conexion_bd.engine, index=False, if_exists="append")

36

Ahora visualizaremos el conjunto de acceso a internet a nivel nacional

In [7]:
# abrimos el conjunto de datos
df_acceso_inter_naci.head()

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

Podemos observar que posee informacion sobre los accesos por año y trimestre, ademas da informacion sobre la cantidad de acceso a travez de banda ancha y a travvez de servicios de analogicos de con moden

Verificamos los datos nulos y el tipo de datos por columna

In [8]:
funciones.verificar_datos(df_acceso_inter_naci)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Banda ancha fija,[<class 'int'>],0,0.0,100.0
3,Dial up,[<class 'int'>],0,0.0,100.0
4,Total,[<class 'int'>],0,0.0,100.0
5,Periodo,[<class 'str'>],0,0.0,100.0

Obtenemos un dataset sin valores nulos y con una unica columna de tipo object que es el periodo, de igual manera procedemos a crear un id para convertirlo en tabla de la base de datos

In [9]:
df_acceso_inter_naci["Acceso_nac_id"] = df_acceso_inter_naci.index

In [10]:
# Obsevamos
df_acceso_inter_naci.head()

,Año,Trimestre,Banda ancha fija,Dial up,Total,Periodo,Acceso_nac_id
0,2022,4,11,12,11,Oct-Dic 2022,0
1,2022,3,11,12,11,Jul-Sept 2022,1
2,2022,2,11,12,11,Abr-Jun 2022,2
3,2022,1,11,13,11,Ene-Mar 2022,3
4,2021,4,10,13,10,Oct-Dic 2021,4

Cargamos el dataframe como tabla a nuestra base de datos

In [18]:
df_acceso_inter_naci.to_sql("Acceso_inter_nacional", con=conexion_bd.engine, index=False, if_exists="append")

C:\Users\Dell\AppData\Local\Temp\ipykernel_11776\808370982.py:1: UserWarning: The provided table name 'Acceso_inter_nacional' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_acceso_inter_naci.to_sql("Acceso_inter_nacional", con=conexion_bd.engine, index=False, if_exists="append")

36

Internet por provincias

Abrimos el dataframe que resume el acceso a internet por provicias

In [11]:
# abrimos el dataset
df_acceso_provin

      Año  Trimestre            Provincia  Banda ancha fija  Dial up  Total
0    2022          4         Buenos Aires                 5      6.0      5
1    2022          4      Capital Federal                 2      2.0      2
2    2022          4            Catamarca                71      1.0     71
3    2022          4                Chaco               144      5.0    144
4    2022          4               Chubut               168    904.0    169
..    ...        ...                  ...               ...      ...    ...
859  2014          1           Santa Cruz                26    460.0     27
860  2014          1             Santa Fe               506    612.0    507
861  2014          1  Santiago Del Estero                37      9.0     37
862  2014          1     Tierra Del Fuego                27    766.0     28
863  2014          1              Tucumán               130     88.0    130

[864 rows x 6 columns]

Observamos un dataset con mas filas que el que nos proporcinan a nivel nacional y nos proporcina informacion de la cantidad de accesos de internet mediante conexion Dial-up por prrovincias, dividido en años y trimiestre

Verificamos si posee datos nulos, y los tipos de datos por columna

In [12]:
funciones.verificar_datos(df_acceso_provin)

Advertencia: la columna Dial up, tiene valores nulos

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.00,100.00
1,Trimestre,[<class 'int'>],0,0.00,100.00
2,Provincia,[<class 'str'>],0,0.00,100.00
3,Banda ancha fija,[<class 'int'>],0,0.00,100.00
4,Dial up,[<class 'float'>],2,0.23,99.77
5,Total,[<class 'int'>],0,0.00,100.00

Observamos que la columna Dialup posee dos datos nulos, los cuales representan un 0.23% de los datos

Observamos datos duplicados

In [13]:
df_acceso_provin.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
859    False
860    False
861    False
862    False
863    False
Length: 864, dtype: bool

No existen datos duplicaos en este dataset

Convertimos la columna Dial up en int, ya que esta columna nos muestra la cantidad de hogares que utilizan Internet de acceso telefónico en cada provincia.

In [14]:
df_acceso_provin["Dial up"] = df_acceso_provin["Dial up"].astype("Int64")

In [15]:
# Obtenemos los datos nulos
nulos_acceso_provin = df_acceso_provin["Dial up"].isnull()
nulldialup = df_acceso_provin.loc[nulos_acceso_provin]
nulldialup

      Año  Trimestre Provincia  Banda ancha fija  Dial up  Total
440  2018          2   Formosa                45     <NA>     45
445  2018          2  Misiones               106     <NA>    106

Agredamos el id de esta columna

In [16]:
# Agreamos columna id
df_acceso_provin["Acceso_pro_id"] = df_acceso_provin.index

Ahora procedemos a completar los dos valores nulos que posee el dataset, utilizando el promedio anual de los accesos a internet, ya que la variable Dial up es numerica continua, ademas que los datos son relativamente homogéneos, es decir, las provincias tienen valores similares para la banda ancha fija y el dial up.

In [17]:
# Agrupamos los datos a nivel nacional por año
df_grouped = df_acceso_inter_naci.groupby("Año")

In [18]:
# Calculamos el promedio dial up para cada año
df_grouped["Dial up"].mean()

Año
2014    36.75
2015    34.25
2016    30.75
2017    28.25
2018    25.75
2019    19.00
2020    10.00
2021    10.75
2022    12.25
Name: Dial up, dtype: float64

In [19]:
# Obtengo el valor del promedio
prom_dial_up = df_grouped["Dial up"].mean()[2018]
prom_dial_up

25.75

In [20]:
resul = int(prom_dial_up)

In [21]:
# Reemplazamos los valores nulos
df_acceso_provin.fillna(resul, inplace= True)

In [22]:
funciones.verificar_datos(df_acceso_provin)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Provincia,[<class 'str'>],0,0.0,100.0
3,Banda ancha fija,[<class 'int'>],0,0.0,100.0
4,Dial up,[<class 'int'>],0,0.0,100.0
5,Total,[<class 'int'>],0,0.0,100.0
6,Acceso_pro_id,[<class 'int'>],0,0.0,100.0

Podemos observar que los datos han sido reemplazados y ya podemos añadir el datasset a nuestra base de datos

Guardamos el dataset limpio

In [53]:
df_acceso_provin.to_parquet("../Data/Internet/Provincia/acces_provin_bandas_limpio.parquet")

Luego lo cargamos en unestra base de datos

In [54]:
df_acceso_provin.to_sql("acceso_inter_provincia", con=conexion_bd.engine, index=False, if_exists="append")

864

Abrimos el dataset acceso por tecnologia y provincia

In [23]:
df_acces_tech_provin

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0
864,*,Los datos provinciales no coinciden a nivel na...,None,NaN,NaN,NaN,NaN,NaN,NaN

Verificamos valores nulos y tipos de datos

In [24]:
funciones.verificar_datos(df_acces_tech_provin)

Advertencia: la columna Provincia, tiene valores nulos
Advertencia: la columna ADSL, tiene valores nulos
Advertencia: la columna Cablemodem, tiene valores nulos
Advertencia: la columna Fibra óptica, tiene valores nulos
Advertencia: la columna Wireless, tiene valores nulos
Advertencia: la columna Otros, tiene valores nulos
Advertencia: la columna Total, tiene valores nulos

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'str'>],0,0.00,100.00
1,Trimestre,[<class 'str'>],0,0.00,100.00
2,Provincia,"[<class 'str'>, <class 'NoneType'>]",1,0.12,99.88
3,ADSL,[<class 'float'>],1,0.12,99.88
4,Cablemodem,[<class 'float'>],1,0.12,99.88
5,Fibra óptica,[<class 'float'>],1,0.12,99.88
6,Wireless,[<class 'float'>],1,0.12,99.88
7,Otros,[<class 'float'>],1,0.12,99.88
8,Total,[<class 'float'>],1,0.12,99.88

Creamos un id para manejar con mas facilidad los datos

In [25]:
df_acces_tech_provin["Acces_tech_id"] = df_acces_tech_provin.index

In [26]:
# Ya con el id creado verificamos 
df_acces_tech_provin

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Acces_tech_id
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0,0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0,1
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0,2
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0,3
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0,4
...,...,...,...,...,...,...,...,...,...,...
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0,860
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0,861
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0,862
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0,863
864,*,Los datos provinciales no coinciden a nivel na...,None,NaN,NaN,NaN,NaN,NaN,NaN,864

Observamos los datos nulos del dataset

In [29]:
df_acces_tech_provin_nulos = df_acces_tech_provin["Total"].isnull()
nul_tach_provin = df_acces_tech_provin.loc[df_acces_tech_provin_nulos]
nul_tach_provin

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Acces_tech_id
864,*,Los datos provinciales no coinciden a nivel na...,None,NaN,NaN,NaN,NaN,NaN,NaN,864

Como los valores nulos en este dataframe no aportan ninguna informacion o estan totalmente perdidos, se decide eliminar toda li fila

In [30]:
df_acces_tech_provin.drop(864, inplace= True)

procedmos de nuevo a verificar los valotres nulos

In [32]:
funciones.verificar_datos(df_acces_tech_provin)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'str'>],0,0.0,100.0
1,Trimestre,[<class 'str'>],0,0.0,100.0
2,Provincia,[<class 'str'>],0,0.0,100.0
3,ADSL,[<class 'float'>],0,0.0,100.0
4,Cablemodem,[<class 'float'>],0,0.0,100.0
5,Fibra óptica,[<class 'float'>],0,0.0,100.0
6,Wireless,[<class 'float'>],0,0.0,100.0
7,Otros,[<class 'float'>],0,0.0,100.0
8,Total,[<class 'float'>],0,0.0,100.0
9,Acces_tech_id,[<class 'int'>],0,0.0,100.0

El conjunto de datos ya esta listo para ser cargado en la base de datos y ser guardado como un conjunto de datos limpios

In [33]:
# Cargamos como un cojunto de datos liompio
df_acces_tech_provin.to_parquet("../Data/Internet/Provincia/acces_tec_provin:limpio.parquet")

In [34]:
df_acces_tech_provin.to_sql("Acceso_Por_tecnologia_provincias", con=conexion_bd.engine, index=False, if_exists="append")

C:\Users\Dell\AppData\Local\Temp\ipykernel_6128\2048764528.py:1: UserWarning: The provided table name 'Acceso_Por_tecnologia_provincias' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_acces_tech_provin.to_sql("Acceso_Por_tecnologia_provincias", con=conexion_bd.engine, index=False, if_exists="append")

864

El conjunto de satos que corresponde a la velocidad media de descarga o de bajada por provincia

In [35]:
# Abrimos el conjunto
df_vel_media_baj

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          4         Buenos Aires                 111.000
1    2022          4      Capital Federal                  18.286
2    2022          4            Catamarca                   8.333
3    2022          4                Chaco                  10.402
4    2022          4               Chubut                   1.592
..    ...        ...                  ...                     ...
859  2014          1           Santa Cruz                 332.000
860  2014          1             Santa Fe                 315.000
861  2014          1  Santiago Del Estero                 295.000
862  2014          1     Tierra Del Fuego                 345.000
863  2014          1              Tucumán                 321.000

[864 rows x 4 columns]

Conjunto conformado por 4 columnas y 864 filas y contiene la velocidad de descarga media por provincia

In [36]:
# Verificamos valores nulos y tipos de datos
funciones.verificar_datos(df_vel_media_baj)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,Año,[<class 'int'>],0,0.0,100.0
1,Trimestre,[<class 'int'>],0,0.0,100.0
2,Provincia,[<class 'str'>],0,0.0,100.0
3,Mbps (Media de bajada),[<class 'float'>],0,0.0,100.0

El conjunto no posee valores nulos en ninguna de sus columnas, ademas posee como tipo de dato, la unica columna de tipo string a la culumna provincia ya que las demas columnas son de tipo numerico, por lo tanto esta bien

In [37]:
# Añadimos el id para manejar mej0or los datos
df_vel_media_baj["Vel_baja_id"] = df_vel_media_baj.index

In [38]:
# Verificamos
df_vel_media_baj

      Año  Trimestre            Provincia  Mbps (Media de bajada)  Vel_baja_id
0    2022          4         Buenos Aires                 111.000            0
1    2022          4      Capital Federal                  18.286            1
2    2022          4            Catamarca                   8.333            2
3    2022          4                Chaco                  10.402            3
4    2022          4               Chubut                   1.592            4
..    ...        ...                  ...                     ...          ...
859  2014          1           Santa Cruz                 332.000          859
860  2014          1             Santa Fe                 315.000          860
861  2014          1  Santiago Del Estero                 295.000          861
862  2014          1     Tierra Del Fuego                 345.000          862
863  2014          1              Tucumán                 321.000          863

[864 rows x 5 columns]

Podemos observar que agregamos la columna de id, por lo tanto de igual manera esta listo paraser cargado como limpio y a la base de datos

In [39]:
# Cargamos el conjunto como limpio
df_vel_media_baj.to_parquet("../Data/Internet/Provincia/velo_medi_bajada_limpio.parquet")

In [40]:
# Cargamos a la base de datos
df_vel_media_baj.to_sql("Velocidad_bajada_provinvia", con=conexion_bd.engine, index=False, if_exists="append")

C:\Users\Dell\AppData\Local\Temp\ipykernel_6128\3387431769.py:2: UserWarning: The provided table name 'Velocidad_bajada_provinvia' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_vel_media_baj.to_sql("Velocidad_bajada_provinvia", con=conexion_bd.engine, index=False, if_exists="append")

864