In [2]:
import funciones

# EXtracción de los conjuntos de datos

Data Internet

A continuación se realizara la extracion a travez de la API de ENACOM, correspondientes a la data nacional de accesos a internet fijo, banda ancha

In [3]:
url4= "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-48866/data.csv/?auth_key=izIDjhitsUg8xNsiismBEDYpsisF2rwPxc2ZzRrb"
df_total_nacional_acces_internet= funciones.extraer_caonjunto(url4)
df_total_nacional_acces_internet.head()

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

Obtenemos el dataframe

Se procede a cargar el dataset, para luego la realización de su respectivo ETL

In [4]:
df_total_nacional_acces_internet.to_parquet("../Data/Internet/Nacional/nacional_acces_inter.parquet")

Se procede a la extracion del dataset, de penetracion por hogares de internet fijo a nivel nacional

In [5]:
url_acces_ba_bang_provin = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/BANDA-ANCHA-Y-BANDA-ANGOS/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_acces_provin_bandas = funciones.extraer_caonjunto(url_acces_ba_bang_provin)
df_acces_provin_bandas.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5      6.0      5
1  2022          4  Capital Federal                 2      2.0      2
2  2022          4        Catamarca                71      1.0     71
3  2022          4            Chaco               144      5.0    144
4  2022          4           Chubut               168    904.0    169

Cargamos el dataset

In [6]:
df_acces_provin_bandas.to_parquet("../Data/Internet/Provincia/acces_provin_bandas.parquet")

Acceso a internet por tecnologia en las diferentes provincias

In [7]:
url_tec_provin = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_acces_tec_provin = funciones.extraer_caonjunto(url_tec_provin)
df_acces_tec_provin

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0
864,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Carga de datos

In [8]:
df_acces_tec_provin.to_parquet("../Data/Internet/Provincia/acces_tec_provin.parquet")

Se extrae el dataset, de velocidad media de baja por provincia

In [9]:
vel_med_donw_provin = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/VELOC-PROME-DE-BAJAD-DE/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_vel_med_donw_provin = funciones.extraer_caonjunto(vel_med_donw_provin)
df_vel_med_donw_provin

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          4         Buenos Aires                 111.000
1    2022          4      Capital Federal                  18.286
2    2022          4            Catamarca                   8.333
3    2022          4                Chaco                  10.402
4    2022          4               Chubut                   1.592
..    ...        ...                  ...                     ...
859  2014          1           Santa Cruz                 332.000
860  2014          1             Santa Fe                 315.000
861  2014          1  Santiago Del Estero                 295.000
862  2014          1     Tierra Del Fuego                 345.000
863  2014          1              Tucumán                 321.000

[864 rows x 4 columns]

Carga de los datos

In [10]:
df_vel_med_donw_provin.to_parquet("../Data/Internet/Provincia/velo_medi_bajada.parquet")

Dataset de acceso a internet fijo por velocidad de bajada para localidades

In [11]:
acce_localidad = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-16249/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_acce_localidad = funciones.extraer_caonjunto(acce_localidad)
df_acce_localidad

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3091,TUCUMAN,Trancas,San Pedro de Colalao,90112020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3092,TUCUMAN,Trancas,Villa de Trancas,90112030,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3093,TUCUMAN,Yerba Buena,Villa Carmela,90119020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3094,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_acce_localidad.to_parquet("../Data/Internet/Localidad/acceso_localidad.parquet")

Acceso a internet por tecnologia y provincia

In [13]:
acc_tec_loc = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-62463/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_acc_tec_loc = funciones.extraer_caonjunto(acc_tec_loc)
df_acc_tec_loc

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98",NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28",NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,31,- 0,"3,73",- 0,- 0,- 0,- 0,"3,76",NaN
3133,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313,NaN
3134,TUCUMAN,Trancas,Villa de Trancas,90112030,126,- 0,- 0,- 0,33,- 0,- 0,101,260,NaN
3135,TUCUMAN,Yerba Buena,Villa Carmela,90119020,"1,5",- 0,- 0,- 0,1,- 0,- 0,97,"1,6",NaN
3136,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,209,- 0,"15,4",33,- 0,- 0,- 0,"15,78",NaN

In [14]:
df_acc_tec_loc.to_parquet("../Data/Internet/Localidad/acceso_tecno_localidad.parquet")

Localidades con conectividad a internet

In [15]:
loc_conec_internet = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/LISTA-DE-LOCAL-CON-CONEC/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_loc_conec_internet = funciones.extraer_caonjunto(loc_conec_internet)
df_loc_conec_internet

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...
4306,BUENOS AIRES,Pilar,Pilar,SI,SI,SI,SI,SI,SI,SI,SI,SI
4307,BUENOS AIRES,Pilar,Presidente Derqui,SI,SI,--,SI,SI,SI,SI,SI,--
4308,BUENOS AIRES,Pilar,Roberto De Vicenzo,--,--,--,--,SI,SI,--,--,--
4309,BUENOS AIRES,Pilar,Santa Teresa,--,--,--,--,SI,SI,--,--,SI
4310,BUENOS AIRES,Pilar,Tortuguitas,--,--,--,SI,SI,SI,--,SI,SI

carga de dataset

In [16]:
df_loc_conec_internet.to_parquet("../Data/Internet/Localidad/localidades_conexion_internet.parquet")

Ingresos por la operacion de servicios de internet fijo

In [17]:
ingresos_internet = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-POR-LA-OPERA-DEL/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_ingresos_internet = funciones.extraer_caonjunto(ingresos_internet)
df_ingresos_internet

     Año  Trimestre  Ingresos (miles de pesos)        Periodo
0   2022          4                         72   Oct-Dic 2022
1   2022          3                         64  Jul-Sept 2022
2   2022          2                         60   Abr-Jun 2022
3   2022          1                         55   Ene-Mar 2022
4   2021          4                         45   Oct-Dic 2021
5   2021          3                         43  Jul-Sept 2021
6   2021          2                         38   Abr-Jun 2021
7   2021          1                         37   Ene-Mar 2021
8   2020          4                         34   Oct-Dic 2020
9   2020          3                         32  Jul-Sept 2020
10  2020          2                         32   Abr-Jun 2020
11  2020          1                         30   Ene-Mar 2020
12  2019          4                         24   Oct-Dic 2019
13  2019          3                         22  Jul-Sept 2019
14  2019          2                         21   Abr-Jun 2019
15  2019          1                         20   Ene-Mar 2019
16  2018          4                         17   Oct-Dic 2018
17  2018          3                         15  Jul-Sept 2018
18  2018          2                         14   Abr-Jun 2018
19  2018          1                         13   Ene-Mar 2018
20  2017          4                         11   Oct-Dic 2017
21  2017          3                         10  Jul-Sept 2017
22  2017          2                         10   Abr-Jun 2017
23  2017          1                          9   Ene-Mar 2017
24  2016          4                          7   Oct-Dic 2016
25  2016          3                          7  Jul-Sept 2016
26  2016          2                          7   Abr-Jun 2016
27  2016          1                          6   Ene-Mar 2016
28  2015          4                          5   Oct-Dic 2015
29  2015          3                          5  Jul-Sept 2015
30  2015          2                          5   Abr-Jun 2015
31  2015          1                          5   Ene-Mar 2015
32  2014          4                          4   Oct-Dic 2014
33  2014          3                          3  Jul-Sept 2014
34  2014          2                          3   Abr-Jun 2014
35  2014          1                          3   Ene-Mar 2014

Cargar dataset

In [18]:
df_ingresos_internet.to_parquet("../Data/Internet/Nacional/ingresos_operacion_internet.parquet")

Telefonia Movil

Cargueremos un conjunto de datos que representa los ingresos a por el servicio prestados de telefonia mmovil

In [19]:
ingresos_tel_movil = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-TRIME-POR-LA-PREST/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_ingresos_tel_movil = funciones.extraer_caonjunto(ingresos_tel_movil)
df_ingresos_tel_movil

     Año  Trimestre Ingresos (miles de $)        Periodo
0   2013          1          $ 13.135.235   Ene-Mar 2013
1   2013          2          $ 13.970.806   Abr-Jun 2013
2   2013          3          $ 15.235.659  Jul-Sept 2013
3   2013          4          $ 16.218.846   Oct-Dic 2013
4   2014          1          $ 15.938.353   Ene-Mar 2013
5   2014          2          $ 17.680.972   Abr-Jun 2014
6   2014          3          $ 18.976.053  Jul-Sept 2014
7   2014          4          $ 20.012.332   Oct-Dic 2014
8   2015          1          $ 19.337.342   Ene-Mar 2015
9   2015          2          $ 19.945.453   Abr-Jun 2015
10  2015          3          $ 21.785.238  Jul-Sept 2015
11  2015          4          $ 24.881.967   Oct-Dic 2015
12  2016          1          $ 24.763.052   Ene-Mar 2016
13  2016          2          $ 25.353.971   Abr-Jun 2016
14  2016          3          $ 27.416.177  Jul-Sept 2016
15  2016          4          $ 30.143.233   Oct-Dic 2016
16  2017          1          $ 31.205.565   Ene-Mar 2017
17  2017          2          $ 33.509.264   Abr-Jun 2017
18  2017          3          $ 35.711.689  Jul-Sept 2017
19  2017          4          $ 38.110.028   Oct-Dic 2017
20  2018          1          $ 38.733.946   Ene-Mar 2018
21  2018          2          $ 40.653.502   Abr-Jun 2018
22  2018          3          $ 43.280.089  Jul-Sept 2018
23  2018          4          $ 44.026.803   Oct-Dic 2018
24  2019          1          $ 50.246.691   Ene-Mar 2019
25  2019          2          $ 55.338.816   Abr-Jun 2019
26  2019          3          $ 60.905.891  Jul-Sept 2019
27  2019          4          $ 65.388.842   Oct-Dic 2019
28  2020          1          $ 72.077.147   Ene-Mar 2020
29  2020          2          $ 73.538.944   Abr-Jun 2020
30  2020          3          $ 79.634.755  Jul-Sept 2020
31  2020          4          $ 83.479.114   Oct-Dic 2020
32  2021          1          $ 93.112.153   Ene-Mar 2021
33  2021          2         $ 104.782.020   Abr-Jun 2021
34  2021          3         $ 117.751.925  Jul-Sept 2021
35  2021          4         $ 127.389.786   Oct-Dic 2021
36  2022          1         $ 130.454.676   Ene-Mar 2022
37  2022          2         $ 153.032.313   Abr-Jun 2022
38  2022          3         $ 180.356.862  Jul-Sept 2022
39  2022          4         $ 204.796.575   Oct-Dic 2022

Carga del dataset

In [20]:
df_ingresos_tel_movil.to_parquet("../Data/Telefonia_movil/Nacional/ingresos_tel_movil.parquet")

Extraemos un conjunto de datos correspondiente al total acceso nacional en telefonia movil

In [21]:
total_acceso_tel_movil = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-52199/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_total_acceso_tel_movil = funciones.extraer_caonjunto(total_acceso_tel_movil)
df_total_acceso_tel_movil

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
0,2013,1,7.761.349,57.147.608,64.908.957,Ene-Mar 2013
1,2013,2,7.769.110,58.004.822,65.773.932,Abr-Jun 2013
2,2013,3,8.002.183,59.048.909,67.051.092,Jul-Sept 2013
3,2013,4,8.674.516,58.894.516,67.569.032,Oct-Dic 2013
4,2014,1,8.224.482,54.725.089,62.949.571,Ene-Mar 2013
5,2014,2,7.953.775,53.009.865,60.963.640,Abr-Jun 2014
6,2014,3,8.214.424,53.102.043,61.316.467,Jul-Sept 2014
7,2014,4,8.027.505,53.093.330,61.120.835,Oct-Dic 2014
8,2015,1,7.747.230,52.474.633,60.221.863,Ene-Mar 2015
9,2015,2,7.633.527,52.241.939,59.875.466,Abr-Jun 2015
10,2015,3,7.600.799,53.131.712,60.732.511,Jul-Sept 2015
11,2015,4,7.594.526,54.247.485,61.842.011,Oct-Dic 2015
12,2016,1,7.483.126,54.003.635,61.486.761,Ene-Mar 2016
13,2016,2,7.565.115,54.557.406,62.122.521,Abr-Jun 2016
14,2016,3,7.520.789,56.058.550,63.579.339,Jul-Sept 2016
15,2016,4,7.637.635,56.082.170,63.719.805,Oct-Dic 2016
16,2017,1,7.502.772,55.523.350,63.026.122,Ene-Mar 2017
17,2017,2,7.415.230,55.483.528,62.898.758,Abr-Jun 2017
18,2017,3,7.272.585,54.958.224,62.230.809,Jul-Sept 2017
19,2017,4,7.108.228,54.789.151,61.897.379,Oct-Dic 2017
20,2018,1,7.101.698,53.470.098,60.571.796,Ene-Mar 2018
21,2018,2,6.637.444,52.828.949,59.466.393,Abr-Jun 2018
22,2018,3,6.551.391,52.289.745,58.841.136,Jul-Sept 2018
23,2018,4,6.488.017,52.110.024,58.598.041,Oct-Dic 2018
24,2019,1,6.645.995,51.960.447,58.606.442,Ene-Mar 2019
25,2019,2,5.924.037,51.672.054,57.596.091,Abr-Jun 2019
26,2019,3,5.974.898,50.300.828,56.275.726,Jul-Sept 2019
27,2019,4,5.797.378,50.133.536,55.930.914,Oct-Dic 2019
28,2020,1,57.431.320,49.869.048,55.612.810,Ene-Mar 2020
29,2020,2,5.659.667,49.391.056,55.050.723,Abr-Jun 2020
30,2020,3,5.559.724,49.060.162,54.619.886,Jul-Sept 2020
31,2020,4,5.556.299,49.207.602,54.763.900,Oct-Dic 2020
32,2021,1,6.041.047,50.411.986,56.453.033,Ene-Mar 2021
33,2021,2,6.046.091,50.829.471,56.875.562,Abr-Jun 2021
34,2021,3,6.104.479,51.708.030,57.812.509,Jul-Sept 2021
35,2021,4,6.186.994,52.878.833,59.065.827,Oct-Dic 2021
36,2022,1,6.231.309,52.937.601,59.168.910,Ene-Mar 2022
37,2022,2,6.245.815,52.865.377,59.111.192,Abr-Jun 2022
38,2022,3,6.250.732,53.008.139,59.258.871,Jul-Sept 2022
39,2022,4,6.546.406,53.157.521,59.703.927,Oct-Dic 2022

Cargamos el dataset

In [22]:
df_total_acceso_tel_movil.to_parquet("../Data/Telefonia_movil/Nacional/total_acceso_tel_movil.parquet")

Extraccion dataset de portabilidad nuemrica movil, que contribuye a las portaciones netas mensualmente por operador

In [23]:
portabilidad_neta_ensual = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PORTA-NUMER-MOVIL-ALTAS-Y/data.csv/?auth_key=9cun92xcuW7JGFfRreeHvM0expDhKp0w8OXd7h6q"
df_portabilidad_neta_ensual= funciones.extraer_caonjunto(portabilidad_neta_ensual)
df_portabilidad_neta_ensual

      Año  Mes  Personal  Claro  Nextel  Movistar  Otros
0    2012    3       -17     19       0        -2      0
1    2012    4         4     -1    -189        -2      0
2    2012    5         1      5    -853        -5      0
3    2012    6         3     -1    -848        -1      0
4    2012    7         6     -4      -1      -602      0
..    ...  ...       ...    ...     ...       ...    ...
125  2022    8       996     20       0       -21     41
126  2022    9        -2     18       0       -16    141
127  2022   10        -2    987       0       469    149
128  2022   11       788      8       0        -9    233
129  2022   12        -2      8       0        -6    217

[130 rows x 7 columns]

Carga de dataset

In [24]:
df_portabilidad_neta_ensual.to_parquet("../Data/Telefonia_movil/Nacional/portabili_neta_mensual.parquet")

Telefonia fija

Se extraera el conjunto de datos que representa los ingresos por servicio de telefonia fija a nivel nacional

In [28]:
ingresos_trim_tele_fija = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-TRIME-POR-LA-96059/data.csv/?auth_key=L0hKPyjaBMIJS46l2RPRLaSr6qz7i3EXqwCXTWrq"
df_ingresos_trim_tele_fija = funciones.extraer_caonjunto(ingresos_trim_tele_fija)
df_ingresos_trim_tele_fija

     Año  Trimestre Ingresos (miles de $)
0   2014          1           291.607.175
1   2014          2           297.486.520
2   2014          3           310.546.202
3   2014          4           333.969.090
4   2015          1           326.012.475
5   2015          2           342.551.848
6   2015          3           359.088.318
7   2015          4           381.536.412
8   2016          1           419.826.039
9   2016          2           471.876.982
10  2016          3           495.196.766
11  2016          4           496.459.639
12  2017          1           637.568.176
13  2017          2           697.061.722
14  2017          3           666.794.353
15  2017          4           551.433.619
16  2018          1           825.227.999
17  2018          2           791.172.307
18  2018          3         1.011.135.057
19  2018          4           899.715.788
20  2019          1         1.223.856.839
21  2019          2         1.418.105.521
22  2019          3         1.340.456.915
23  2019          4         2.032.157.716
24  2020          1         1.706.759.782
25  2020          2         2.103.552.289
26  2020          3         1.816.202.389
27  2020          4         1.975.030.398
28  2021          1         2.137.866.768
29  2021          2         2.217.875.189
30  2021          3         2.078.999.521
31  2021          4         4.061.605.917
32  2022          1            30.583.344
33  2022          2           312.581.825
34  2022          3         2.969.851.257
35  2022          4         3.235.691.392

Carga del dataset

In [29]:
df_ingresos_trim_tele_fija.to_parquet("../Data/Telefonia_fija/Nacional/ingresos_trim_tele_fija.parquet")

Extraemos el conjunto de datos, que corresponden al acceso de la telefonia fija por provincia

In [30]:
acceso_tel_fija_provin = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-DE-TELEF-FIJA-POR/data.csv/?auth_key=L0hKPyjaBMIJS46l2RPRLaSr6qz7i3EXqwCXTWrq"
df_acceso_tel_fija_provin = funciones.extraer_caonjunto(acceso_tel_fija_provin)
df_acceso_tel_fija_provin

,Año,Trimestre,Provincia,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros)
0,2022,4,Buenos Aires,3.128.431,2.802.796,264.038,12.029,49.568
1,2022,4,Capital Federal,1.563.142,1.400.437,131.928,6.010,24.767
2,2022,4,Catamarca,25.083,22.473,2.117,96.000,397.000
3,2022,4,Chaco,64.683,57.950,5.459,249.000,1.025
4,2022,4,Chubut,54.249,48.601,4.579,209.000,860.000
...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,40.625,33.555,4.528,131.000,2.411
860,2014,1,Santa Fe,770.361,636.284,85.867,2.491,45.719
861,2014,1,Santiago del Estero,70.717,58.409,7.882,229.000,4.197
862,2014,1,Tierra del Fuego,32.631,26.951,3.637,106.000,1.937
863,2014,1,Tucumán,210.917,174.209,23.509,682.000,12.517

Carga del dataset

In [31]:
df_acceso_tel_fija_provin.to_parquet("../Data/Telefonia_fija/Provincia/acceso_tel_fija_provin.parquet")

Extraemos un cojunto de datos que hace referencia al total de acceso a tecnologia fija

In [34]:
acceso_total_tel_fija = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-18734/data.csv/?auth_key=L0hKPyjaBMIJS46l2RPRLaSr6qz7i3EXqwCXTWrq"
df_acceso_total_tel_fija = funciones.extraer_caonjunto(acceso_total_tel_fija)
df_acceso_total_tel_fija

,Año,Trimestre,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros),Periodo
0,2014,1,9.562.231,7.897.980,1.065.834,30.917,567.500,Ene-Mar 2014
1,2014,2,9.548.994,7.872.511,1.073.038,31.339,572.106,Abr-Jun 2014
2,2014,3,9.613.361,7.924.613,1.091.747,32.516,564.485,Jul-Sept 2014
3,2014,4,9.689.752,7.989.623,1.106.502,33.139,560.488,Oct-Dic 2014
4,2015,1,10.086.221,8.358.053,1.134.427,36.888,556.853,Ene-Mar 2015
5,2015,2,9.991.190,8.291.156,1.103.025,34.419,562.590,Abr-Jun 2015
6,2015,3,10.050.617,8.364.541,1.095.767,35.230,555.079,Jul-Sept 2015
7,2015,4,9.975.798,8.380.800,1.003.363,35.161,556.474,Oct-Dic 2015
8,2016,1,10.239.381,8.950.226,721.226,37.841,530.088,Ene-Mar 2016
9,2016,2,10.379.749,9.037.000,759.247,38.093,545.409,Abr-Jun 2016
10,2016,3,10.130.489,8.829.818,724.585,37.068,539.018,Jul-Sept 2016
11,2016,4,10.260.812,8.971.186,721.607,37.856,530.163,Oct-Dic 2016
12,2017,1,10.239.381,8.950.226,721.226,37.841,530.088,Ene-Mar 2017
13,2017,2,10.379.749,9.037.000,759.247,38.093,545.409,Abr-Jun 2017
14,2017,3,10.130.489,8.829.818,724.585,37.068,539.018,Jul-Sept 2017
15,2017,4,10.260.812,8.971.186,721.607,37.856,530.163,Oct-Dic 2017
16,2018,1,9.666.921,8.490.573,711.654,37.447,427.247,Ene-Mar 2018
17,2018,2,9.703.699,8.638.311,712.144,38.473,314.771,Abr-Jun 2018
18,2018,3,9.694.988,8.656.721,709.503,38.828,289.936,Jul-Sept 2018
19,2018,4,9.805.917,8.764.892,715.700,39.825,285.500,Oct-Dic 2018
20,2019,1,8.327.400,7.360.178,655.594,34.826,276.802,Ene-Mar 2019
21,2019,2,8.129.983,7.177.951,640.458,34.264,277.310,Abr-Jun 2019
22,2019,3,7.892.689,7.069.250,619.801,34.329,169.309,Jul-Sept 2019
23,2019,4,7.762.812,6.942.553,618.847,34.546,166.866,Oct-Dic 2019
24,2020,1,7.555.630,6.778.310,605.915,33.415,137.990,Ene-Mar 2020
25,2020,2,7.463.257,6.694.729,598.402,34.391,135.735,Abr-Jun 2020
26,2020,3,7.432.548,6.712.162,542.624,36.283,141.479,Jul-Sept 2020
27,2020,4,7.364.032,6.621.370,579.315,34.155,129.192,Oct-Dic 2020
28,2021,1,7.200.461,6.459.673,557.287,34.041,149.460,Ene-Mar 2021
29,2021,2,7.081.716,6.378.508,545.706,34.144,123.358,Abr-Jun 2021
30,2021,3,7.003.303,6.311.742,536.500,34.225,120.836,Jul-Sept 2021
31,2021,4,7.626.355,6.933.738,538.714,34.262,119.641,Oct-Dic 2021
32,2022,1,7.223.205,6.452.832,627.770,26.807,115.796,Ene-Mar 2022
33,2022,2,7.057.734,6.307.810,610.291,26.749,112.884,Abr-Jun 2022
34,2022,3,7.024.647,6.292.004,597.354,26.497,108.792,Jul-Sept 2022
35,2022,4,7.040.872,6.307.995,594.245,27.073,111.559,Oct-Dic 2022

Caegamos el dataset

In [35]:
df_acceso_total_tel_fija.to_parquet("../Data/Telefonia_fija/Nacional/acceso_total_tel_fija.parquet")

Todos los datasets han sido extraidos y cargados para su Etl